.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px greenyellow;
    background-color: white;
  }
  
#content {
    margin: 10px;
    padding: 10px;
    border: solid 5px greenyellow;
    background-color: orange;
  }

body {
    background-color: w